{% extends "base.html" %}

{% block page_content %}
<h2>Welcome to Joker's zone！</h2>

<!-- {% for post in all %}
	<div>{{post.id}}</div>
{% endfor %} -->
<div class="container">
	<div class="row">
		<div class="col-xs-9">
			<div class="content" style="border-bottom:1px solid #CCCCCC; padding: 30px 0px;">
				<h3>文章标题</h3>
				<span>发布于2017-01-01</span>
				<div style="margin: 10px 0px;">
					<p>
					文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
					</p>
				</div>
				<div class='text-info'>废材哥</div>
			</div>
			<div class="content" style="border-bottom:1px solid #CCCCCC; padding: 30px 0px;">
				<h3>文章标题</h3>
				<span>发布于2017-01-01</span>
				<div style="margin: 10px 0px;">
					<p>
					文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
					</p>
				</div>
				<div class='author'>废材哥</div>
			</div>
			<div class="content" style="border-bottom:1px solid #CCCCCC; padding: 30px 0px;">
				<h3>文章标题</h3>
				<span>发布于2017-01-01</span>
				<div style="margin: 10px 0px;">
					<p>
					文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容
					</p>
				</div>
				<div class='author'>废材哥</div>
			</div>
		</div>
		<div class="col-xs-3">
			<h4>友情链接</h4>
		</div>
	</div>
</div>
{% endblock %}
