{% extends "base.html" %}

{% block page_content %}
<h2>Welcome to Joker's zone！</h2>

<!-- {% for post in all %}
	<div>{{post.id}}</div>
{% endfor %} -->
<div class="content" style="border-bottom:1px solid #000; width:800px; padding: 30px 0px;">
	<h3>文章标题</h3>
	<span>发布于2017-01-01</span>
	<div style="margin: 10px 0px;">
		<p>
		div的设置属性有很多，我就大致说一下。
		这里可以设置一下字体居中，字体距离上下边框的距离。
		text-align:center;（文字横向居中）
		padding:30px;（字体距离上下左右边框的距离，因为左右已经超出了30px，所以这个30px就对左右不起限制作用了。）
		</p>
	</div>
	<div class='author'>废材哥</div>
</div>
<div class="content" style="border-bottom:1px solid #000; width:800px; padding: 30px 0px;">
	<h3>文章标题</h3>
	<span>发布于2017-01-01</span>
	<div style="margin: 10px 0px;">
		<p>
		div的设置属性有很多，我就大致说一下。
		这里可以设置一下字体居中，字体距离上下边框的距离。
		text-align:center;（文字横向居中）
		padding:30px;（字体距离上下左右边框的距离，因为左右已经超出了30px，所以这个30px就对左右不起限制作用了。）
		</p>
	</div>
	<div class='author'>废材哥</div>
</div>
<div class="content" style="border-bottom:1px solid #000; width:800px; padding: 30px 0px;">
	<h3>文章标题</h3>
	<span>发布于2017-01-01</span>
	<div style="margin: 10px 0px;">
		<p>
		div的设置属性有很多，我就大致说一下。
		这里可以设置一下字体居中，字体距离上下边框的距离。
		text-align:center;（文字横向居中）
		padding:30px;（字体距离上下左右边框的距离，因为左右已经超出了30px，所以这个30px就对左右不起限制作用了。）
		</p>
	</div>
	<div class='author'>废材哥</div>
</div>
<div class="somethingelse">

</div>
{% endblock %}
